.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todoList {
  background-color: orange;
  color: black;
  font-family: sans-serif;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}

.task {
  font-weight: bold;
}
.task-done {
  text-decoration: line-through;
  opacity: 0.5;
}
.filter-btn-active {
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 3px;
  border: 2px solid red;
}

.input-error {
  border: 2px solid red;
  outline: none;
}
